<ul>
  <% @meals.each do |meal| %>
    <li><p><%= meal.name %></p></li>
    <p>£<%= meal.price %></p>
    <p><%= meal.meal_stage %></p>
    <h4 class='ratings-count' data-id='<%= meal.id %>'>Total score 
      <span class='total-score'><%= meal.ratings_total %></span>
    </h4>
    <h4 class='ratings-count' data-id='<%= meal.id %>'>Average score 
      <span class='average-score'><%= meal.average_ratings_total %></span>
    </h4>
    <p>Rate this dish!</p>
    <p>
    <%= rating_button @restaurant, meal, 1, '1' %>
    <%= rating_button @restaurant, meal, 2, '2' %>
    <%= rating_button @restaurant, meal, 3, '3' %>
    <%= rating_button @restaurant, meal, 4, '4' %>
    <%= rating_button @restaurant, meal, 5, '5' %>
    </p>
  <% end %>
</ul>


